@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Poppins", sans-serif;
    user-select: none;
    /* overflow-x: hidden; */
}

.alert {
    display: flex;
    color: white !important;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.2vw !important;
    padding: 10px;
    border-radius: 10px;
}

.alert-success {
    background-color: rgb(30, 151, 83);
}

.alert-danger {
    background-color: #c65541;
}

.warningOverlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.warning {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff3cd;
    padding: 0.75rem 1.25rem;
    color: #856404;
    position: absolute;
    border-radius: 0.25rem;
    width: 40vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

#warning-close {
    display: flex;
    font-family: "Poppins", sans-serif;
    font-size: 1.2vw;
    margin: 0.5vw;
    border: none;
    color: #fff;
    background-color: #2da571;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
    border-radius: 0.25rem;
    cursor: pointer;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    margin-bottom: 1vw;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

nav {
    display: flex;
    flex-direction: column;
    width: 15%;
    margin: 1px 1px;
    border-right: 1px solid #9393933d;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 65px;
    margin: 1% 5%;
}

.logo img {
    margin: 5% 1%;
    width: auto;
    height: 100%;
    aspect-ratio: 1 / 1;
}

.menuList {
    display: flex;
    flex-direction: column;
    height: calc(85% - 75px);
    padding: 0 1vw;
}

#menuIcon {
    display: none;
}

.menu {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 2vw;
    font-size: 1.2vw;
    justify-content: space-evenly;
}

.menuItems {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.menuItems:hover i,
.menuItems:hover a p {
    color: #ffbb00;
}

.menuItems i,
.menuItems a p {
    padding: 5px;
    margin: 5px;
    color: #000;
}

.active i,
.active a p {
    color: #ffbb00 !important;
}


/* 
.active i:hover,
.active a p:hover {
    color: #ffbb00 !important;
} */

.menuItems i {
    display: flex;
}

.menuItems p {
    color: #fff;
    display: flex;
    margin-left: 1vw;
    font-size: 1vw;
}

.rgtpnl {
    display: flex;
    flex-direction: column;
    width: 84%;
    margin: 1px 1px;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 1px solid #9393933d;
    height: 10%;
    width: 100%;
}


/* 
.searchbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 70%;
    width: 30%;
    padding: 0 1rem;
    background-color: #e1e1e1;
    border-radius: 10px;
}

.searchbar i,
.searchbar input {
    color: #929292;
    padding: 2% 0 02% 05%;
    border: none;
}

.searchbar i {
    margin: 0 0 0 2%;
    font-size: 1.15rem;
}

.searchbar input {
    background-color: transparent;
    font-size: 1rem;
    width: 75%;
} */

.profilepanel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 70%;
    width: 40%;
    margin: 1%;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 85%;
}

.profilepic {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin-right: 0.5vw;
}

.profilepic img {
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

.profilename {
    margin: 0;
    margin-right: 0.5vw;
    display: flex;
    font-family: "Poppins", sans-serif;
    font-size: .8vw;
    width: 75%;
}

.logout {
    display: flex;
    text-decoration: none;
    color: #000;
    font-size: 1.7vw;
    align-items: center;
    border-radius: 10%;
}

.notification {
    display: flex;
    align-items: center;
    font-size: 1.7vw;
    border-radius: 10%;
    cursor: pointer;
    position: relative;
    margin-right: 10px;
}

.notification .notificationBox {
    display: none;
    flex-direction: column;
    position: absolute;
    width: 20vw;
    max-height: 40vh;
    right: 0;
    top: calc(100% + 10px);
    background-color: #fff;
    box-shadow: 0 0 5px #929292;
    border-radius: 10px;
    z-index: 100;
    overflow-y: auto;
}

.notification .notificationBox::-webkit-scrollbar {
    display: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* .notification .notificationBox::before {
    content: '';
    position: absolute;
    top: -10px;
    right: 15px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #dbdbdb;
} */

.notificationBox #heading {
    display: flex;
    padding: 5px;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 0.81em;
    background-color: #dbdbdb;
    border-radius: 10px 10px 0 0;
    position: sticky;
    top: 0;
    z-index: 1;
}

.notificationBox .message {
    display: flex;
    flex-direction: column;
    padding: 05px 10px;
    margin: 0;
    font-family: "Poppins", sans-serif;
    border-bottom: 1px solid #000;
}

.message p {
    margin: 0;
    padding: 0;
    font-size: medium;
}

.message .buttons {
    display: flex;
    margin: 0;
    padding: 0;
}

.buttons a {
    margin-right: 1vw;
    font-size: 1.5vw;
}

.bxs-trash {
    color: #b83636;
}

.bxs-book-reader {
    color: #138141;
}

.bxs-trash:hover {
    color: #e26161;
}

.bxs-book-reader:hover {
    color: #2ea25f;
}

.alert-danger {
    color: #f45b69;
    font-size: 0.7rem;
    margin: 0px 20px;
}

.alert-success {
    color: #40c788;
    font-size: 0.7rem;
    margin: 0px 20px;
}

@media (max-width: 1050px) and (min-width: 600px) {
    .profilename {
        display: none;
    }
    .profile {
        justify-content: center;
        align-items: flex-start;
        width: auto;
    }
    .logo {
        width: 90%;
        height: 75px;
        margin: 01% 5%;
    }
    .logo img {
        width: 65%;
    }
    .menuList {
        padding-left: 1vw;
    }
    .menuIcon {
        display: none;
    }
    .menuItems i {
        display: none;
    }
    .menuItems p {
        font-size: 1.7vw;
    }
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
    }
    .main {
        width: 90vw;
    }
    nav {
        flex-direction: row;
        height: 75px;
        width: 90vw;
        align-items: center;
        justify-content: space-between;
    }
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        margin-left: 1vw;
    }
    .logo img {
        width: auto;
        height: 100%;
    }
    .menuList {
        display: flex;
        flex-direction: column;
        z-index: 100;
        position: relative;
    }
    #menuIcon {
        display: flex;
        font-size: 5vh;
        cursor: pointer;
        position: absolute;
        top: -2vh;
        right: -2vh;
    }
    .menu {
        display: none;
        background-color: #ffffff;
        position: absolute;
        width: 95vw;
        height: auto;
        top: 6.5vh;
        left: -88.5vw;
        padding-left: 2vh;
    }
    .rgtpnl {
        flex-direction: row;
        width: 100vw;
    }
    header {
        display: none;
    }
}