@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
main {
    display: flex;
    flex-direction: column;
    border-radius: 03px;
    width: 100%;
    overflow-y: scroll;
    padding-top: 1vw;
}

.path {
    display: flex;
    font-family: "Poppins", sans-serif;
    font-size: 1vw;
    width: 95%;
    margin: 0.5vw auto;
}

.processbtns {
    display: flex;
    width: 95%;
    margin: 0.5vw auto 0.1vw;
}

.inactivebtn,
.activebtn {
    border: none;
    margin-right: 0.5vw;
    padding: 0.5vw 1vw;
    border-radius: 7px;
    font-family: "Poppins", sans-serif;
}

.inactivebtn {
    background-color: #e0e0e0;
}

.activebtn {
    background-color: #ffbb00;
    color: #fff;
}

.activebtn:hover {
    background-color: #a97e05;
}

.inactivebtn:hover {
    background-color: #d3d3d3;
}

table {
    border-collapse: collapse;
    width: 90% !important;
    margin: 0.5vw auto 2vw;
}

table thead tr {
    border-bottom: 2px solid #000;
}

table thead tr th {
    text-align: left;
}

table thead tr th:last-child {
    text-align: center;
}

table tbody tr {
    border-bottom: 1px solid #898989;
}

table tbody tr td {
    text-align: left;
    border-radius: 6px;
    padding: 0.5vw 0;
    font-size: 1.3vw;
}

table tbody tr td:last-child {
    text-align: center;
}

table tbody tr td a {
    padding: 0.3vw 0.6vw;
    font-size: 0.8vw;
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
    background-color: #f45b69;
}

table tbody tr td a:hover {
    background-color: #f84857;
}

#orderItemsOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: block;
    z-index: 999;
}

#orderItems {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    position: absolute;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    height: 30vw;
    width: 60vw;
    transform: translate(-50%, -50%);
    z-index: 1000;
    justify-content: space-around;
    padding: 20px 30px;
}

#itemtable {
    border-collapse: collapse;
    width: 100%;
    margin: 0.5vw auto 2vw;
    overflow-y: auto;
}

.table {
    display: flex;
    height: 100%;
    width: 95%;
    overflow-y: auto;
}

#itemtable thead {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
}

#itemtable thead tr {
    border-bottom: 2px solid #000;
}

#itemtable thead tr th:last-child {
    text-align: center;
}

#itemtable tbody tr {
    border-bottom: 1px solid #898989;
}

#itemtable tbody tr td {
    text-align: center;
    border-radius: 6px;
    padding: 0.5vw 0;
    font-size: 1.3vw;
}

.btns {
    display: flex;
    justify-content: center;
    width: 98%;
    height: 18%;
    margin: 0.31vw auto;
}

.btns button {
    font-family: "Poppins", sans-serif;
    font-size: 1.2vw;
    padding: 0.5vw 2vw;
    border-radius: 10px;
    margin: 0.5vw;
    border: none;
    background-color: #e2e2e2;
}

#closebtn:hover {
    background-color: #fff;
}

#printbtn {
    background-color: #276e3d;
    color: #d3d3d3;
}

#printbtn:hover {
    background-color: #41bb41;
}

.table-row-data {
    cursor: pointer;
}

.table-row-data:hover {
    background-color: #fff;
}