#salesman {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 3px;
    width: 100%;
    height: 90%;
    background-color: #e8e8e8;
    font-size: 0.8vw;
}

.alert {
    display: flex;
    color: white !important;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.2vw !important;
    padding: 10px;
    margin-top: 0.5vw;
    border-radius: 0.25rem;
    opacity: 1;
    transition: opacity 1s ease-out;
}

.alert-hide {
    opacity: 0;
}

.alert-success {
    background-color: rgb(30, 151, 83);
}

.alert-danger {
    background-color: #c65541;
}

#productsSide,
#receipt {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    width: 72.5%;
    box-shadow: 0px 0px 10px #bbb;
    border-radius: 7px;
    margin: 0.41vw 0;
    /* padding: 0.51vw; */
    /* border: 1px solid #000; */
}

#category_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #efefef;
    border-radius: 7px;
    margin: 0;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: thin;
}

#category_bar div {
    display: flex;
    width: 175px;
    margin: 0.5vw;
    align-items: center;
}

#category_bar div a {
    display: flex;
    width: 100%;
    margin: 0;
    font-size: 1vw;
    text-align: center;
    padding: 5px;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    justify-content: center;
    align-items: center;
}

#category_bar div:hover a {
    background-color: #ffbb00;
    color: #fff;
}

#category_bar div a.selected {
    border-bottom: 2px solid #ffbb00;
}

#products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* padding: 0.21vw; */
    margin: 0 1vw;
    justify-content: start;
    overflow-y: auto;
    width: 100%;
    height: 72%;
    scrollbar-width: thin;
    /* border: 1px solid #000; */
}

.imgbox {
    display: flex;
    flex-direction: column;
    width: 10vw;
    min-height: 15vh;
    max-height: 22vh;
    margin: 0.5vw;
    padding: 0.21vw;
    font-size: 0.8vw;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #bbb;
    transition: box-shadow 0.3s ease;
    cursor: pointer;
}

.imgbox img {
    align-self: center;
    border-radius: 06px;
    aspect-ratio: auto;
    margin-bottom: 1vw;
    width: 100%;
    max-height: 75%;
}

.imgbox p {
    margin: 0;
    text-align: center;
}

#deals_seperate_section {
    display: flex;
    max-height: 28%;
    min-height: 25%;
    flex-direction: column;
}

#deals_seperate_section_heading {
    margin: 0;
    padding-left: 0.5vw;
    text-align: center;
    font-size: 1vw;
    background-color: #dadada;
    border-top: 1px solid #9d9d9d;
}

#deals_seperate_section_imgDiv {
    display: flex;
    flex-direction: row;
    height: 200px;
    width: 100%;
    overflow-x: scroll !important;
    overflow-y: hidden;
    scrollbar-width: thin;
}

#deals_seperate_section_imgDiv .deal_imgbox {
    display: flex;
    flex-direction: column;
    max-width: 150px;
    min-width: 100px;
    min-height: 15vh;
    max-height: 16vh;
    margin: 0.4vw;
    padding: 0.21vw;
    font-size: 0.65vw;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #bbb;
    cursor: pointer;
}

#deals_seperate_section_imgDiv .deal_imgbox img {
    align-self: center;
    border-radius: 06px;
    aspect-ratio: auto;
    margin-bottom: 0.3vw;
    width: 100%;
    max-height: 75%;
}

#deals_seperate_section_imgDiv .deal_imgbox p {
    margin: 0;
    font-weight: 500;
    text-align: center;
}

#receipt {
    width: 23.5%;
    padding: 0;
}

#heading {
    margin: 0;
    padding: 0.4vw;
    text-align: center;
    background-color: #efefef;
    border-radius: 7px 7px 0 0;
}

#cart {
    display: flex;
    flex-direction: column;
    height: 94%;
    border-radius: 07px;
    justify-content: space-between;
}

#selectedProducts {
    border: 1px solid #999;
    min-height: 45%;
    height: calc(100% - 375px);
    margin: 0 0.3vw;
    padding: 0.5vw;
    border-radius: 7px;
    background-color: #fff;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #999 transparent;
}

#productdiv {
    margin-bottom: 0;
    border-bottom: 1px solid #999;
}

#productdiv .product_name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9vw;
    padding: 0 4px;
}

#productdiv .product-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9vw;
    padding: 0 5px;
    text-align: center;
}

.product-controls .quantity-control {
    display: flex;
    align-items: center;
    font-size: 0.9vw;
}

#remove-product {
    background-color: #c40e0e;
    padding: 0.1vw;
    border: none;
    color: #fff;
    border-radius: 5px;
    margin: 0.2vw;
    cursor: pointer;
}

#remove-product i {
    font-size: 1vw;
    font-weight: 400;
}

#remove-product:hover {
    background-color: #9e0e0e;
}

.quantity-display-field {
    width: 20px;
    padding: 0;
    font-size: 0.6vw;
    text-align: center;
}

.quantity-decrease-btn,
.quantity-increase-btn {
    display: flex;
    text-decoration: none;
}

.quantity-decrease-btn i {
    font-size: 1.5vw;
}

.quantity-increase-btn i {
    font-size: 1.15vw;
}

#selectedquantity {
    margin: 10px 0.5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#selectedquantity input[type="number"] {
    width: 50px;
    text-align: center;
}

.bxs-checkbox-minus {
    font-size: 2.5vw;
    color: #d40000;
}

.bxs-plus-square {
    font-size: 2vw;
    color: #d40000;
}

.payment-div {
    display: flex;
    flex-direction: row;
    width: 99%;
    font-size: 0.81vw;
}

.cash-fields {
    border-right: 1px solid #afafaf79;
}

.cash-fields {
    display: flex;
    width: 48%;
    margin: 0 auto;
    padding: 5px 0;
    flex-direction: column;
}

.discount-field,
.tablesList {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
    padding: 5px 0;
}

.tablesList {
    display: none;
}

.tablesList label {
    font-size: 0.7vw;
    margin-bottom: 0.5vw;
}

.tablesList select {
    border: none;
    border-radius: 0.50rem;
    padding: 0.5vw;
    width: 95%;
    font-size: 0.8vw;
}

.tablesList select:focus {
    outline: 0.01vw #999 solid;
}

.paymentfields {
    display: flex;
    margin: 0.3vw;
    flex-direction: column;
}

.paymentfields label {
    font-size: 0.7vw;
}

.paymentfields input,
.paymentfields select {
    border: none;
    border-radius: 0.50rem;
    padding: 0.5vw;
    width: 75%;
    font-size: 0.8vw;
    background-color: #e2e2e2;
}

.paymentfields input:focus,
.paymentfields select:focus {
    outline: 0.01vw #999 solid;
}

#myToggleButton {
    padding: 10px 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
}

#myToggleButton.active {
    background-color: #007bff;
    color: white;
}


/* Adding transitions for a smoother visual effect */

#myToggleButton {
    transition: background-color 0.3s ease;
}

.paymentfields input[type="checkbox"]:focus {
    outline: none;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.3vw;
    margin-bottom: 0.5vw;
    flex-wrap: wrap;
}

#buttons button,
#buttons input[type="button"],
#buttons input[type="submit"] {
    font-size: 1.2vw;
    font-weight: 500;
    border: none;
    background-color: #ffbb00;
    color: #fff;
    padding: 0.3vw 1vw;
    border-radius: 7px;
    margin: 0.3vw;
    cursor: pointer;
}

#buttons button {
    background-color: #e2e2e2;
    color: #000;
}

#buttons input[type="button"]:hover,
#buttons input[type="submit"]:hover {
    background-color: #d4a011;
}

#buttons #clearCart {
    background-color: #c40e0e;
    color: #fff;
}

#buttons #clearCart:hover {
    background-color: #9e0e0e;
}

#buttons button:hover {
    background-color: #d3d3d3;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
}

#addToCart {
    display: none;
    flex-direction: column;
    background-color: #ffffff;
    position: absolute;
    border-radius: 10px;
    padding: 1vw;
    width: 30vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.head1,
#bottom {
    text-align: center;
    font-size: 1.3vw;
    font-weight: 500;
    background-color: #cccccc;
}

#addToCart select {
    font-size: 1vw;
    font-family: "Poppins", sans-serif;
}

#bottom {
    display: flex;
    justify-content: space-between;
    font-weight: normal;
    text-align: left;
    font-size: 1vw;
    padding: 0 0.5vw;
}

#prodName,
#prodPrice {
    display: flex;
    justify-content: space-between;
    margin: 0 0.5vw;
    font-size: 1vw;
}

#prodVariation,
#addons,
#drinkFlavour {
    margin: 10px 0.5vw;
    margin-top: 0;
    border: none;
    border-bottom: 1px solid #000;
}

#addOnsLabel,
#prodVariationLabel,
#drinkFlavourLabel {
    margin: 0 0.5vw;
    font-size: 1vw;
}

#quantity {
    margin: 10px 0.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#quantity p {
    margin: 0;
    margin-right: 1vw;
}

#quantity input {
    /* width: ; */
    text-align: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 2vw;
    height: 1vw;
    margin: 0 5px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 1px;
    right: 0;
    bottom: 0;
    background-color: #fff;
    border: 1px solid #00000065;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 0.7vw;
    width: 0.7vw;
    left: 2px;
    bottom: 1.5px;
    background-color: #fb0;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #fff;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(0.85vw);
    -ms-transform: translateX(0.85vw);
    transform: translateX(0.85vw);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/* Dine-In and online orders stylings */

#dineInOrdersOverlay,
#allOrdersOverlay,
#onlineOrdersOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
}

#dineInOrdersDiv,
#allOrdersDiv,
#onlineOrdersDiv {
    display: none;
    flex-direction: column;
    background-color: #ffffff;
    position: absolute;
    border-radius: 10px;
    padding: 1vw;
    width: 90vw;
    height: 90vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

#dineInOrdersDiv h3,
#allOrdersDiv h3,
#onlineOrdersDiv h3 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1.5vw;
    font-family: "Poppins", sans-serif;
}

#dineInOrdersDiv hr,
#allOrdersDiv hr,
#onlineOrdersDiv hr {
    border: 1px solid #9b9b9b;
    width: 98%;
    margin: 0 auto 0.51vw;
}

#dineInOrdersTable {
    display: flex;
    flex-direction: column;
    height: 87%;
}

#dineInOrdersTable .searchBarDiv {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 98%;
    margin: 0.5vw;
}

#dineInOrdersTable #allOrderSearchBar,
#dineInOrdersTable #onlineOrderSearchBar,
#dineInOrdersTable #searchBar {
    width: 18%;
    box-sizing: border-box;
    border: 1px solid #353535;
    border-radius: 0.50rem;
    font-size: 12px;
    background-color: #fbfbfb;
    background-position: 10px 10px;
    background-size: 12px;
    background-repeat: no-repeat;
    padding: 8px 8px 8px 40px;
}

#tableDiv {
    overflow-y: auto;
    scrollbar-width: thin;
}

#dineInOrdersTable table {
    border-collapse: collapse;
    width: 98% !important;
    margin: 0.5vw auto;
}

.truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 120px;
}

#dineInOrdersTable table thead {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

#dineInOrdersTable table thead tr {
    border-bottom: 2px solid #000;
}

#dineInOrdersTable table thead tr th {
    text-align: left;
    background-color: #c5c5c5;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    padding-left: 5px;
    font-size: 0.9rem;
}

#dineInOrdersTable table thead tr th:first-child,
#dineInOrdersTable table thead tr th:last-child {
    text-align: center;
}

#dineInOrdersTable table tbody tr {
    box-shadow: 0 2px 5px -2px #898989;
}

#dineInOrdersTable table tbody tr td {
    text-align: left;
    border-radius: 6px;
    padding: 0.5vw 5px;
    font-size: 0.8rem;
}

#dineInOrdersTable table tbody tr td:first-child,
#dineInOrdersTable table tbody tr td:last-child {
    text-align: center;
}

#dineInOrdersTable table tbody tr td a {
    text-decoration: none;
}

.bxs-cart-add,
.bx-check,
.bxs-right-arrow-square {
    font-size: 1.5rem;
    color: #fff;
    border-radius: 0.30rem;
    padding: 0.2rem 0.6rem;
    margin-left: 0.1rem;
}

.bx-check,
.bxs-cart-add {
    background-color: #ffbb00;
}

.bx-check:hover,
.bxs-cart-add:hover {
    background-color: #c99608;
}

.bxs-right-arrow-square {
    background-color: #28a745;
}

.bxs-right-arrow-square:hover {
    background-color: #217d36;
}

#actionstd a {
    padding: 0.3vw 0.6vw;
    font-size: 0.8vw;
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
    background-color: #f45b69;
}

#actionstd a:hover {
    background-color: #f84857;
}

#actionstd #view {
    background-color: #ffbb00;
}

#actionstd #view:hover {
    background-color: #a97e05;
}

#closeBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

#closeBtn button {
    display: flex;
    font-size: 1.2vw;
    margin: 0.5vw;
    border: none;
    color: #fbfbfb;
    background-color: #dc3545;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
    border-radius: 0.25rem;
    cursor: pointer;
    padding: 0.375rem 0.75rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#closeBtn button:hover {
    background-color: #d21c2e;
}

#orderItemsOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: block;
    z-index: 999;
}

#orderItems {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    position: absolute;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    height: 30vw;
    width: 60vw;
    transform: translate(-50%, -50%);
    z-index: 1000;
    justify-content: space-around;
    padding: 20px 30px;
}

#itemtable {
    border-collapse: collapse;
    width: 100%;
    margin: 0.5vw auto 2vw;
    overflow-y: auto;
}

.table {
    display: flex;
    height: 100%;
    width: 95%;
    overflow-y: auto;
}

#itemtable thead {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
    font-size: 1rem;
}

#itemtable thead tr {
    border-bottom: 2px solid #000;
}

#itemtable thead tr th:last-child {
    text-align: center;
}

#itemtable tbody tr {
    border-bottom: 1px solid #898989;
}

#itemtable tbody tr td {
    text-align: center;
    border-radius: 6px;
    padding: 0.5vw 0;
    font-size: 0.9rem;
}

.btns {
    display: flex;
    justify-content: center;
    margin: 0.31vw auto;
}

.btns button {
    display: flex;
    font-size: 1.2vw;
    margin: 0.5vw;
    border: none;
    color: #fbfbfb;
    background-color: #bcbcbc;
    text-decoration: none;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
    border-radius: 0.25rem;
    cursor: pointer;
    padding: 0.375rem 0.75rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#closebtn:hover {
    background-color: #d6d6d6;
}

#printbtn {
    background-color: #276e3d;
    color: #d3d3d3;
}

#printbtn:hover {
    background-color: #41bb41;
}