#salesman {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 3px;
    width: 100%;
    height: 90%;
    background-color: #e8e8e8;
    font-size: 1.2vw;
}

.alert {
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.alert-success {
    background-color: rgb(30, 151, 83);
}

.alert-danger {
    background-color: #c65541;
}

#productsSide,
#receipt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 72.5%;
    box-shadow: 0px 0px 10px #bbb;
    border-radius: 7px;
    margin: 0.41vw 0;
    padding: 0.51vw;
}

#category_bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #efefef;
    border-radius: 7px;
    margin: 0;
    padding: 5px;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: thin;
    -ms-overflow-style: inherit;
}

#category_bar div {
    display: flex;
}

#category_bar div a {
    margin: 0;
    min-width: 175px;
    flex-shrink: 0;
    text-align: center;
    padding: 5px;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

#category_bar div:hover a {
    background-color: #ffbb00;
    color: #fff;
}

#category_bar div a.selected {
    border-bottom: 2px solid #ffbb00;
}

#deals_seperate_section {
    display: flex;
    flex-direction: column;
    margin-bottom: 1vw;
}

#deals_seperate_section_heading {
    margin: 0;
    padding-left: 0.5vw;
    text-align: center;
    font-size: 1.2vw;
    background-color: #dadada;
}

#products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0.21vw;
    margin: 0 1vw;
    overflow: scroll;
    scrollbar-width: none;
}

.imgbox {
    display: flex;
    flex-direction: column;
    width: 10%;
    margin: 0.5vw;
    padding: 0.21vw;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #bbb;
    transition: box-shadow 0.3s ease;
    cursor: pointer;
}

.imgbox img {
    border-radius: 06px;
    aspect-ratio: auto;
    height: 5vw;
}

.imgbox p {
    margin: 0.2vw 0;
    font-size: 1vw;
    text-align: center;
}

#receipt {
    width: 23.5%;
}

#heading {
    margin: 0;
    padding: 0.4vw;
    text-align: center;
    background-color: #efefef;
    border-radius: 7px 7px 0 0;
}

#cart {
    display: flex;
    flex-direction: column;
    height: 94%;
    border-radius: 07px;
}

#selectedProducts {
    border: 1px solid #999;
    min-height: 45%;
    margin: 0 0.3vw;
    padding: 0.5vw;
    border-radius: 7px;
    background-color: #efefef;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #999 transparent;
}

#productdiv {
    margin-bottom: 5px;
    border-bottom: 1px solid #999;
}

#productdiv p {
    margin: 0;
    font-size: 1.2vw;
}

#selectedquantity {
    margin: 10px 0.5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#selectedquantity input[type="number"] {
    width: 50px;
    text-align: center;
}

.bxs-checkbox-minus {
    font-size: 2.5vw;
    color: #d40000;
}

.bxs-plus-square {
    font-size: 2vw;
    color: #d40000;
}

.payment-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 0.81vw;
}

.paymentfields {
    display: flex;
    margin: 0.3vw;
    width: 45%;
    flex-direction: column;
}

.paymentfields input,
.paymentfields select {
    border: none;
    border-radius: 10px;
    padding: 0.5vw;
    background-color: #e2e2e2;
}

.paymentfields input:focus,
.paymentfields select:focus {
    outline: 0.01vw #999 solid;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.3vw;
    margin-bottom: 0.5vw;
    flex-wrap: wrap;
}

#buttons button,
#remove-product,
#buttons input[type="button"],
#buttons input[type="submit"] {
    font-size: 1.2vw;
    font-weight: 500;
    border: none;
    background-color: #ffbb00;
    color: #fff;
    padding: 0.5vw 2vw;
    border-radius: 7px;
    margin: 0.3vw;
    cursor: pointer;
}

#remove-product {
    background-color: #c40e0e;
    padding: 0.5vw;
    margin: 0.3vw 0;
    font-size: 0.7vw;
}

#remove-product:hover {
    background-color: #9e0e0e;
}

#buttons button {
    background-color: #e2e2e2;
    color: #000;
}

#buttons input[type="button"]:hover,
#buttons input[type="submit"]:hover {
    background-color: #d4a011;
}

#buttons #clearCart {
    background-color: #c40e0e;
    color: #fff;
}

#buttons #clearCart:hover {
    background-color: #9e0e0e;
}

#buttons button:hover {
    background-color: #d3d3d3;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
}

#addToCart {
    display: none;
    flex-direction: column;
    background-color: #ffffff;
    position: absolute;
    border-radius: 10px;
    padding: 1vw;
    width: 30vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.head1,
#bottom {
    text-align: center;
    font-weight: 500;
    background-color: #cccccc;
}

#addToCart select {
    font-size: 1vw;
    font-family: "Poppins", sans-serif;
}

#bottom {
    display: flex;
    justify-content: space-between;
    font-weight: normal;
    text-align: left;
    font-size: 1vw;
    padding: 0 0.5vw;
}

#prodName,
#prodPrice {
    display: flex;
    justify-content: space-between;
    margin: 0 0.5vw;
    font-size: 1vw;
}

#prodVariation,
#addons,
#drinkFlavour {
    margin: 10px 0.5vw;
    margin-top: 0;
    border: none;
    border-bottom: 1px solid #000;
}

#addOnsLabel,
#prodVariationLabel,
#drinkFlavourLabel {
    margin: 0 0.5vw;
    font-size: 1vw;
}

#quantity {
    margin: 10px 0.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#quantity p {
    margin: 0;
    margin-right: 1vw;
}

#quantity input {
    /* width: ; */
    text-align: center;
}

.bxs-checkbox-minus {
    font-size: 2.5vw;
    color: #d40000;
}

.bxs-plus-square {
    font-size: 2vw;
    color: #d40000;
}