@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    user-select: none;
    font-family: "Poppins", sans-serif;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 10%;
    width: 100%;
}

.logo {
    display: flex;
    height: 90%;
    margin: 02% 5%;
}


/* .logo img {
    margin: 05% 1%;
    width: 40%;
} */

.searchbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 70%;
    width: 30%;
    padding: 0 1rem;
    background-color: #e1e1e1;
    border-radius: 10px;
}

.searchbar i,
.searchbar input {
    color: #929292;
    padding: 2% 0 02% 05%;
    border: none;
}

.searchbar i {
    margin: 0 0 0 2%;
    font-size: 1.15rem;
}

.searchbar input {
    background-color: transparent;
    font-size: 1rem;
    width: 75%;
}

.profilepanel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 70%;
    width: 20%;
    margin: 1%;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 85%;
    width: 60%;
}

.profilepic {
    display: flex;
    align-items: center;
    height: 90%;
    border-radius: 10%;
}

.profilepic img {
    height: 99%;
    border-radius: 25%;
}

.profilename {
    margin: 0;
    display: flex;
    font-family: "Poppins", sans-serif;
    font-size: 1.2vw;
}

.notification {
    display: flex;
    align-items: center;
    border-radius: 10%;
    cursor: pointer;
}

.notification i {
    font-size: 1.7vw;
}

.logout {
    display: flex;
    align-items: center;
    border-radius: 10%;
}

.logout a {
    text-decoration: none;
    color: #000000;
}

.logout a i {
    font-size: 1.7vw;
}

.theme {
    display: flex;
    align-items: center;
    background-color: #000000;
    border-radius: 10%;
    padding: 0.4rem 0.8rem;
    cursor: pointer;
}

.theme i {
    color: #ffffff;
    font-size: 1.2rem;
}

@media (max-width: 1050px) and (min-width: 600px) {
    .profilename {
        display: none;
    }
    .profile {
        justify-content: center;
        align-items: flex-start;
        width: auto;
    }
    .logo {
        width: 90%;
        /* height: 75px; */
        margin: 01% 5%;
    }
    /* .logo img {
        width: 65%;
    } */
    .menuList {
        padding-left: 1vw;
    }
    .menuIcon {
        display: none;
    }
    .menuItems i {
        display: none;
    }
    .menuItems p {
        font-size: 1.7vw;
    }
    .totalRevenue,
    .totalBranch,
    .totalMenu,
    .totalStaff {
        font-size: 1.6vw;
    }
}

@media (max-width: 600px) {
    header {
        display: none;
    }
    .container {
        flex-direction: column;
    }
    nav {
        flex-direction: row;
        height: 100px;
        width: 100vw;
        align-items: center;
        justify-content: space-between;
    }
    .menuList {
        display: flex;
        flex-direction: column;
        z-index: 100;
        position: relative;
    }
    #menuIcon {
        display: flex;
        font-size: 5vh;
        cursor: pointer;
        position: absolute;
        top: -2vh;
        right: 2vh;
    }
    .menu {
        display: none;
        background-color: #ffffff;
        position: absolute;
        width: 100vw;
        height: 70vh;
        top: 3vh;
        right: -2vh;
        padding-left: 2vh;
    }
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 75px;
        height: 95%;
        margin-left: 1vw;
    }
    .logo img {
        width: 60%;
    }
    .rgtpnl {
        flex-direction: row;
        width: 100vw;
    }
    .map {
        height: 45vh;
        margin-bottom: 2rem;
    }
    .map iframe {
        width: 100%;
        margin: auto;
    }
    .totalRevenue,
    .totalBranch,
    .totalMenu,
    .totalStaff {
        font-size: 1.6vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .graph {
        flex-direction: column;
    }
    .orderGraph,
    .revenueGraph {
        width: 95%;
        margin: auto;
        margin-bottom: 2vh;
        padding: 1vh;
    }
    .info .ttle {
        font-size: 1.4vh;
        margin: 0 0 0 1vh;
    }
    .info .filter {
        font-size: 1vh;
        margin: 0.5vh 1vh 0 0;
    }
    #addBranch {
        font-size: 1.8vh;
        font-weight: 500;
        margin-bottom: 1vh;
    }
}