main {
    display: flex;
    flex-direction: column;
    background-color: #e0e0e0;
    border-radius: 03px;
    width: 100%;
    overflow-y: scroll;
}

.alert {
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px;
}

.alert-success {
    background-color: rgb(30, 151, 83);
}

.alert-danger {
    background-color: #c65541;
}

.path {
    display: flex;
    font-family: "Poppins", sans-serif;
    font-size: 1vw;
    margin: 1vw 1vw 0 1vw;
}

.path h2 {
    width: 100%;
    text-align: center;
}

.path p {
    margin: 0;
}

.addnewDeal {
    display: flex;
    font-family: "Poppins", sans-serif;
    width: 85%;
    font-size: 1vw;
    margin: 0.5vw auto;
    padding: 0.5vw 1vw;
}

.addnewDeal button {
    background-color: #ffbb00;
    border: none;
    padding: 0.81vw 1.2vw;
    color: #fff;
    font-size: 1rem;
    font-weight: 550;
    border-radius: 10px;
    cursor: pointer;
}

.addnewDeal button:hover {
    background-color: #bc9017;
}

table {
    border-collapse: collapse;
    width: 85% !important;
    margin: 1vw auto;
    margin-bottom: 2vw;
}

table thead tr {
    border-bottom: 2px solid #000;
}

table thead tr th:first-child {
    text-align: left;
}

table #header #header-row .header-row-headings {
    text-align: left;
    padding: 0;
}

table thead tr th {
    text-align: left;
    padding-left: 15px;
}

table tbody tr {
    border-bottom: 1px solid #898989;
}

table tbody tr td:first-child {
    text-align: left;
}

table tbody tr td:first-child img {
    width: 100px;
    height: 70px;
    padding: 5px;
    border-radius: 15px;
}

table tbody tr td {
    text-align: center;
    padding: 1vw 0;
}

table #body #body-row .body-row-data {
    text-align: left;
}

table tbody tr .status {
    padding: 0.5vw 0;
    border-radius: 15px;
}

.ellipsis {
    padding-left: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

table tbody tr td:last-child a {
    padding: 0.3vw 0.5vw;
    text-decoration: none;
    color: #fff;
    border-radius: 6px;
    font-size: 1.3vw;
}

table tbody tr td:last-child a:first-child {
    background-color: #3fc28a;
}

table tbody tr td:last-child a:last-child {
    background-color: #f45b69;
}

table tbody tr td:last-child a:first-child:hover {
    background-color: #2da571;
}

table tbody tr td:last-child a:last-child:hover {
    background-color: #f84857;
}

#overlay,
#editOverlay,
#dealInfoOverlay,
#confirmDeletionOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
}

.newdeal,
.editdeal,
.dealInfo,
.confirmDeletion {
    display: none;
    flex-direction: column;
    background-color: #ffffff;
    position: absolute;
    border-radius: 10px;
    width: 30vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.editdeal {
    width: 50vw;
    max-height: 95vh;
}

#message-text {
    text-align: center;
    margin: 10px;
}

.box-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 01vw auto;
    width: 85%;
}

.box-btns button {
    display: flex;
    font-family: "Poppins", sans-serif;
    font-size: 1.2vw;
    padding: 0.5vw 2vw;
    border-radius: 10px;
    margin: 0.5vw;
    border: none;
    color: #fff;
}

.box-btns #confirm {
    background-color: #b52828;
}

.box-btns #close {
    background-color: #ffbb00;
}

.box-btns #confirm:hover {
    background-color: #d84444;
}

.box-btns #close:hover {
    background-color: #e5ba45;
}

#product_details_tables {
    width: 100%;
    overflow-y: auto;
}

#products_table {
    width: 90%;
}

#product_details_tables thead {
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 1000;
}

.newdeal h3,
.editdeal h3,
.dealInfo h3 {
    margin: 0;
    padding: 1vw 2vw;
    font-size: 1.5vw;
    font-family: "Poppins", sans-serif;
}

.dealInfo h3 {
    text-align: center;
}

.newdeal hr,
.editdeal hr,
.dealInfo hr {
    border: 1px solid #9b9b9b;
    width: 98%;
    margin: 0 auto 1vw;
}

#line {
    border: 1px solid #9b9b9b;
    width: 98%;
    margin: 1vw auto 0;
}

#product_details_tables {
    width: 98%;
    margin: 0 auto;
}

#products_table {
    height: 50px;
    overflow-y: auto;
}

.dealInfo hr {
    width: 75%;
    margin-bottom: 2vw;
}

.imgdiv,
.infodiv {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 120px;
    margin: 0 auto;
}

.imgdiv img {
    border-radius: 15px;
    width: 100%;
    height: 115px;
}

.infodiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    justify-content: center;
}

.infodiv p {
    display: flex;
    text-align: center;
    font-weight: 500;
    margin: 0;
}

.choose-file-btn {
    display: flex;
    background-color: #e2e2e2;
    color: #333;
    text-align: center;
    border-radius: 10px;
}

.choose-file-btn input[type="file"] {
    display: none;
}

.choose-file-btn span {
    padding: 0.5vw;
    border: 1px solid #bbbbbb;
    background-color: #bbbbbb;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    cursor: pointer;
}

.choose-file-btn p {
    margin: 0;
    padding: 0.5vw;
}

.inputdivs {
    margin: 0.4vw auto;
    width: 85%;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    font-size: 1vw;
}

.inputdivs input,
.inputdivs select {
    border: none;
    border-radius: 10px;
    padding: 0.71vw 0.5vw;
    background-color: #e2e2e2;
}

.btns {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 01vw auto;
    width: 85%;
}

#priceTag {
    margin-right: 0;
}

.btns button,
.btns input {
    display: flex;
    font-family: "Poppins", sans-serif;
    font-size: 1.2vw;
    padding: 0.5vw 2vw;
    border-radius: 10px;
    margin: 0.5vw;
    border: none;
}

#cancel {
    background-color: #e2e2e2;
}

.btns input {
    background-color: #ffbb00;
    color: #fff;
}

#cancel:hover {
    background-color: #d3d3d3;
}

.btns input:hover {
    background-color: #d4a011;
    color: #fff;
}


/*
    |---------------------------------------------------------------|
    |==================== Deal Products Styling ====================|
    |---------------------------------------------------------------|
*/

.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0.21vw;
    margin: 0 1vw;
    height: 75vh;
    overflow: scroll;
    scrollbar-width: none;
}

.products .imgbox {
    display: flex;
    flex-direction: column;
    width: 23%;
    height: 55vh;
    margin: 0.4vw;
    padding: 0.21vw;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #bbb;
    transition: box-shadow 0.3s ease;
}

.product_id {
    display: none;
}

.imgbox.selected {
    box-shadow: 0px 0px 10px #ffbb00;
    border: 3px solid #ffbb00;
}

.imgbox img {
    border-radius: 06px;
    width: 100%;
    height: 15vw;
}

.imgbox p {
    margin: 0;
    text-align: center;
}

.category_name {
    font-weight: 450;
    color: #3fc28a;
}

.product_name {
    font-weight: 450;
    color: chocolate;
}

.product_size {
    font-weight: 450;
    color: crimson;
}

.product_price {
    font-weight: 450;
    color: #436fad;
}

#data {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vw;
}

#adddeal {
    padding: 1vw 2vw;
    font-size: 3vh;
    background-color: #ffbb00;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-weight: 500;
}

#adddeal:hover {
    background-color: #bc9017;
}

#dealProductInfoOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
}

#dealProdInfo {
    display: none;
    flex-direction: column;
    background-color: #ffffff;
    position: absolute;
    border-radius: 10px;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

#dealProdInfo .btns {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 01vw auto;
    width: 85%;
}

#dealProdInfo h3 {
    margin: 0;
    padding: 1vw 2vw;
    font-size: 1.5vw;
    font-family: "Poppins", sans-serif;
}

#dealProdInfo hr {
    border: 1px solid #9b9b9b;
    width: 98%;
    margin: 0 auto 1vw;
}

#productsNames {
    margin: 0.4vw auto;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    font-size: 1vw;
}

.inputdiv {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-size: 1vw;
}

#dealFinalPrice,
#currentDealPrice {
    margin: 5px;
    margin-right: 10px;
    border: none;
    border-radius: 10px;
    padding: 0.71vw 0.5vw;
    background-color: #e2e2e2;
}