main {
    display: flex;
    flex-direction: column;
    /* background-color: #fff; */
    background-color: #e0e0e0;
    border-radius: 03px;
    width: 100%;
    min-height: 85vh;
    overflow-y: scroll;
    font-family: "Poppins", sans-serif;
}

.alert {
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.2vw;
    padding: 10px;
}

.alert-success {
    background-color: rgb(30, 151, 83);
}

.alert-danger {
    background-color: #c65541;
}

#heading {
    display: block;
    text-align: center;
    margin: 0.51vw 0;
}

#options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#options button {
    display: flex;
    margin: 1.5vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 15%;
    height: 100px;
    border-radius: 10px;
    border: none;
    font-family: "Poppins", sans-serif;
    /* background-color: #2fa749; */
    background-color: #ffbb00;
    color: #fff;
    letter-spacing: 1px;
    font-size: 1.2vw;
}

#options button:hover {
    background-color: #e3bc3b;
    color: #000;
}

#texOverlay,
#discountOverlay,
#receiptOverlay,
#confirmDeletionOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
}

#newTax,
#discount,
#receipt,
.confirmDeletion {
    display: none;
    flex-direction: column;
    background-color: #ffffff;
    position: absolute;
    border-radius: 10px;
    width: 70vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

#newTax h3,
#receipt h3,
#discount h3 {
    margin: 0;
    padding: 1vw 2vw;
    font-size: 1.5vw;
    font-family: "Poppins", sans-serif;
}

#newTax hr,
#receipt hr,
#discount hr {
    border: 1px solid #9b9b9b;
    width: 98%;
    margin: 0 auto 1vw;
}

.container-fields {
    display: flex;
    flex-direction: column;
    max-height: 300px;
    overflow-y: scroll;
}

#texFields {
    display: flex;
    margin: 1vw;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#option_button {
    display: flex;
    margin: 10px;
    flex-direction: row;
    align-items: center;
    width: 30%;
    height: 4vw;
    font-family: "Poppins", sans-serif;
    font-size: 1vw;
}

#option_button button {
    display: flex;
    background-color: #ffbb00;
    color: #fff;
    width: 30%;
    height: 90%;
    font-size: 1.2vw;
    border-radius: 10px;
    cursor: pointer;
}

.deleteTax {
    background-color: #d84444 !important;
}

.deleteTax:hover {
    background-color: #ee5f5f !important;
    color: #fff !important;
}

.inputdivs {
    margin: 10px;
    width: 30%;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    font-size: 1vw;
}

.inputdivs input,
.inputdivs select {
    border: none;
    outline: 0.5px solid #9b9b9b;
    border-radius: 10px;
    padding: 0.71vw 0.5vw;
    background-color: #e2e2e2;
}

.forms-btns {
    display: flex;
    margin: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 4vw;
    font-family: "Poppins", sans-serif;
    font-size: 1vw;
}

.forms-btns .add,
.forms-btns #cancel {
    display: flex;
    background-color: #ffbb00;
    color: #fff;
    padding: 0.5vw 2vw;
    height: 90%;
    font-size: 1.2vw;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}

.forms-btns .add:hover {
    background-color: #e3bc3b;
}

.forms-btns #cancel {
    background-color: #dcdcdc;
    color: #000;
}

.forms-btns #cancel:hover {
    background-color: #f8f8f8;
    color: #000;
}

#text-info,
#totalSales {
    margin: 0;
    padding: 0;
    text-align: center;
}


/* 
.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 01vw auto;
    width: 85%;
}

.btns button {
    display: flex;
    font-family: "Poppins", sans-serif;
    font-size: 1.2vw;
    padding: 0.5vw 2vw;
    border-radius: 10px;
    margin: 0.5vw;
    border: none;
}

.btns button {
    background-color: #ffbb00;
    color: #fff;
}

.btns button:hover {
    background-color: #d4a011;
    color: #fff;
} */

#confirmDeletionOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
}

.confirmDeletion {
    display: none;
    flex-direction: column;
    background-color: #dadada;
    position: absolute;
    border-radius: 10px;
    width: 30vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

#message-text {
    text-align: center;
    margin: 10px;
}

.box-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 01vw auto;
    width: 85%;
}

.box-btns button {
    display: flex;
    font-family: "Poppins", sans-serif;
    font-size: 1.2vw;
    padding: 0.5vw 2vw;
    border-radius: 10px;
    margin: 0.5vw;
    border: none;
    color: #fff;
}

.box-btns #confirm {
    background-color: #b52828;
}

.box-btns #close {
    background-color: #ffbb00;
}

.box-btns #confirm:hover {
    background-color: #d84444;
}

.box-btns #close:hover {
    background-color: #e5ba45;
}