@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    user-select: none;
    background-color: #ececec;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    /* height: 55%; */
    border-radius: 10px;
    background-color: #e2e2e2;
    border-top: 6px solid #ffbb00;
    box-shadow: 0px 1px 3px #3a3a3a;
}

form .heading h1 {
    font-size: 1.7vw;
}

hr {
    width: 100%;
    margin: 0 auto;
}
form p {
    font-family: "Poppins", sans-serif;
    font-size: 1.2vw;
}

.inputfields {
    display: flex;
    padding: 10px 20px;
    flex-direction: column;
    width: 90%;
    font-family: "Poppins", sans-serif;
}

.emailfield,
.passwordfield,
.namefield {
    display: flex;
    margin: 10px 20px;
    font-family: "Poppins", sans-serif;
    border: 1px solid #8d8d8d;
    border-radius: 5px;
}

.CnfrmPswdField{
    margin-bottom: 0;
}
.emailfield input,
.passwordfield input,
.namefield input {
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    width: 90%;
}

.emailfield i,
.passwordfield i,
.namefield i {
    border-left: 1px solid #8d8d8d;
    padding: 5px 10px;
    background-color: #cdcdcd;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn input {
    margin: 10px 20px;
    padding: 05px 30px;
    font-size: 1.1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    border-radius: 10px;
    border: none;
    background-color: #ffbb00;
    color: #fff;
    cursor: pointer;
}

.btn input:hover {
    background-color: #ae8515;
}

.fgtpswd {
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    width: 100%;
    font-size: 0.7vw;
}
.fgtpswd a {
    margin: 0.2rem 2.5rem;
    text-decoration: none;
    color: #ffbb00;
}
.fgtpswd a:hover {
    color: #ae8515;
}

.error-message{
    color:#F45B69;
    font-size: 0.7rem;
    margin:0px 20px;
}

@media (max-width: 1050px) and (min-width: 650px) {
    form {
        width: 45vw;
    }
    form .heading h1 {
        font-size: 3vh;
        margin: 1vw;
    }

    form p {
        font-size: 1.4vw;
    }

    .emailfield input,
    .passwordfield input,
    .namefield input {
        font-size: 1.4vw;
        padding: 1vw;
    }

    .fgtpswd a {
        font-size: 1.4vw;
    }
}

@media (max-width: 650px) {
    form {
        width: 42vh;
    }

    form .heading h1 {
        font-size: 3vh;
        margin: 1.5vh;
    }

    form p {
        font-size: 1.6vh;
    }

    .emailfield input,
    .passwordfield input,
    .namefield input {
        font-size: 1.8vh;
        padding: 1vh;
    }

    .fgtpswd a {
        font-size: 1.6vh;
    }
}
