@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
main {
    justify-content: start;
    /* height: 100%; */
    font-size: 1.2vw;
    position: relative;
}

#overlay,
#confirmDeletionOverlay,
#editOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
}

.addNewUser,
.confirmDeletion,
.editstaff {
    display: none;
    flex-direction: column;
    background-color: #ffffff;
    position: fixed;
    border-radius: 10px;
    width: 35vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.addNewUser h3,
.confirmDeletion h3,
.editstaff h3 {
    margin: 0;
    padding: 1vw 2vw;
    font-family: "Poppins", sans-serif;
}

#message-text {
    text-align: center;
    margin: 10px;
}

.box-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 01vw auto;
    width: 85%;
}

.box-btns button {
    display: flex;
    font-family: "Poppins", sans-serif;
    font-size: 1.2vw;
    padding: 0.5vw 2vw;
    border-radius: 10px;
    margin: 0.5vw;
    border: none;
    color: #fff;
}

.box-btns #confirm {
    background-color: #b52828;
}

.box-btns #close {
    background-color: #ffbb00;
}

.box-btns #confirm:hover {
    background-color: #d84444;
}

.box-btns #close:hover {
    background-color: #e5ba45;
}

.choose-file-btn {
    display: flex;
    background-color: #e2e2e2;
    color: #333;
    text-align: center;
    border-radius: 10px;
}

.choose-file-btn input[type="file"] {
    display: none;
}

.choose-file-btn span {
    padding: 0.5vw;
    border: 1px solid #bbbbbb;
    background-color: #bbbbbb;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    cursor: pointer;
}

.choose-file-btn p {
    margin: 0;
    padding: 0.5vw;
    overflow: hidden;
}

.inputdivs {
    margin: 0.4vw auto;
    width: 85%;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    font-size: 1vw;
}

.inputdivs input,
.inputdivs select {
    border: none;
    border-radius: 6px;
    padding: 0.5vw 0.2vw;
    background-color: #e2e2e2;
    font-size: 1vw;
}

.inputdivs label {
    font-size: 1vw;
}

.passwordfield {
    display: flex;
    width: 100%;
    font-family: "Poppins", sans-serif;
    border: 1px solid #8d8d8d;
    border-radius: 5px;
}

.passwordfield input {
    border: none;
    padding: 0.5vw 0.2vw;
    border-radius: 6px;
    width: 90%;
}

.passwordfield i {
    border-left: 1px solid #8d8d8d;
    padding: 5px 10px;
    background-color: #cdcdcd;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.error-message {
    color: #f45b69;
    font-size: 0.7rem;
    margin: 0px 20px;
}

.error {
    display: flex;
    color: #F45B69;
    margin: auto;
    width: 85%;
}

.success {
    display: flex;
    color: #179f58;
    margin: auto;
    width: 85%;
}

.btns {
    display: flex;
    justify-content: space-around;
    margin: 01vw auto;
    width: 85%;
}

.btns button,
.btns input {
    display: flex;
    font-family: "Poppins", sans-serif;
    font-size: 1.2vw;
    padding: 0.5vw 2vw;
    border-radius: 10px;
    border: none;
}

#cancel {
    background-color: #e2e2e2;
}

.btns input {
    background-color: #ffbb00;
    color: #fff;
}

#cancel:hover {
    background-color: #d3d3d3;
}

.btns input:hover {
    background-color: #d4a011;
    color: #fff;
}

.path {
    display: flex;
    font-family: "Poppins", sans-serif;
    font-size: 1vw;
    margin: 0.5rem 1rem;
}

.headings {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: 0.5vw 2vw;
}

.headings h3 {
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.01rem;
    padding-left: 1rem;
    margin: 0;
}

.headings button {
    text-decoration: none;
    padding: 0.7vw 1vw;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    background-color: #ffbb00;
    color: #ffffff;
    text-align: center;
    border: none;
}

.headings button:hover {
    background: #a97e05;
}

table {
    border-collapse: collapse;
    width: 95% !important;
    margin: 0.5vw auto 2vw;
}

table thead tr {
    border-bottom: 2px solid #000;
}

table thead tr th {
    width: 150px;
    text-align: left;
}

table thead tr th:last-child {
    text-align: center;
}

table tbody tr {
    border-bottom: 1px solid #898989;
}

table tbody tr td {
    text-align: left;
    border-radius: 6px;
    padding: 0.5vw 0;
    width: 150px;
}

table tbody tr td:last-child {
    text-align: center;
}

table tbody tr td a {
    padding: 0.2vw 0.3vw;
    font-size: 1.2vw;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
}

table tbody tr td:first-child {
    text-align: left;
}

table tbody tr td:first-child img {
    width: 100px;
    /* height: 70px; */
    padding: 5px;
    border-radius: 15px;
}

table tbody tr td a:first-child {
    background-color: #3fc28a;
}

table tbody tr td a:last-child {
    background-color: #f45b69;
}

table tbody tr td a:first-child:hover {
    background-color: #2da571;
}

table tbody tr td a:last-child:hover {
    background-color: #f84857;
}


/* Online Ordres */

.processbtns {
    display: flex;
    width: 80%;
    margin: 0.1vw auto;
}

.inactivebtn,
.activebtn {
    border: none;
    margin-right: 0.5vw;
    padding: 0.5vw 1vw;
    border-radius: 7px;
    font-family: "Poppins", sans-serif;
}

.inactivebtn {
    background-color: #f2f2f2;
}

.activebtn {
    background-color: #ffbb00;
    color: #fff;
}

.activebtn:hover {
    background-color: #a97e05;
}

.inactivebtn:hover {
    background-color: #d3d3d3;
}

.order-status {
    border: 1px solid #000;
}

@media (max-width: 1050px) and (min-width: 850px) {
    .path {
        font-size: 1.3vw;
    }
    table tbody tr,
    table thead tr {
        margin: 0.5vw 0;
        font-size: 1.3vw;
    }
    #EmpTable_filter,
    #EmpTable_paginate,
    .dataTables_length,
    .dataTables_info {
        font-size: 1.35vw;
    }
}

@media (max-width: 850px) and (min-width: 600px) {
    table {
        width: 95%;
    }
    table tbody tr,
    table thead tr {
        margin: 0.5vh 0;
        font-size: 1.3vh;
    }
    #EmpTable_filter,
    #EmpTable_paginate,
    .dataTables_length,
    .dataTables_info {
        font-size: 1.35vh;
    }
}

@media (max-width: 600px) {
    .rgtpnl {
        height: auto;
    }
    .path {
        font-size: 1vh;
    }
    table {
        width: 95%;
    }
    table tbody tr td:last-child {
        display: flex;
        flex-direction: column;
    }
    .status {
        background-color: transparent !important;
    }
    table tbody tr,
    table thead tr {
        margin: 0.3vh 0;
        font-size: 1vh;
    }
    #EmpTable_filter,
    #EmpTable_paginate,
    .dataTables_length,
    .dataTables_info {
        font-size: 1vh;
    }
}