@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Poppins", sans-serif;
    user-select: none;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

.alert {
    display: flex;
    color: white !important;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.2vw !important;
    padding: 10px;
    border-radius: 10px;
}

.alert-success {
    background-color: rgb(30, 151, 83);
}

.alert-danger {
    background-color: #c65541;
}


/* Navigation Bar styling  */

nav {
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 90%;
    margin: 1px 1px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 65px;
    margin: 01% 5%;
}

.logo img {
    margin: 5% 1%;
    width: auto;
    height: 100%;
    aspect-ratio: 1 / 1;
}

.menuList {
    display: flex;
    flex-direction: column;
    height: calc(85% - 75px);
    padding: 0 1vw;
}

#menuIcon {
    display: none;
}

.menu {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0.2vw;
    font-size: 1.2vw;
}

.menuItems {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.menuItems i,
.menuItems a p {
    padding: 5px;
    margin: 5px;
    color: #000;
}

.menuItems:hover i,
.menuItems:hover a p {
    color: #ffbb00;
}

.menuItems i {
    display: flex;
}

.menuItems p {
    color: #fff;
    display: flex;
    margin-left: 1vw;
    font-family: "Poppins", sans-serif;
}


/* Header Styling starts */

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 10%;
    width: 100%;
}

.searchbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 70%;
    width: 30%;
    padding: 0 1rem;
    background-color: #e1e1e1;
    border-radius: 10px;
}

.searchbar i,
.searchbar input {
    color: #929292;
    padding: 2% 0 02% 05%;
    border: none;
}

.searchbar i {
    margin: 0 0 0 2%;
    font-size: 1.15rem;
}

.searchbar input {
    background-color: transparent;
    font-size: 1rem;
    width: 75%;
}

.profilepanel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 70%;
    width: 20%;
    margin: 1%;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 85%;
    width: 60%;
}

.profilepic {
    display: flex;
    align-items: center;
    height: 90%;
    border-radius: 10%;
}

.profilepic img {
    height: 99%;
}

.profilename {
    margin: 0;
    display: flex;
    font-family: "Poppins", sans-serif;
    font-size: 1.2vw;
}

.logout {
    display: flex;
    text-decoration: none;
    color: #000;
    font-size: 1.7vw;
    align-items: center;
    border-radius: 10%;
}

.notification {
    display: flex;
    align-items: center;
    font-size: 1.7vw;
    border-radius: 10%;
    cursor: pointer;
}

.rgtpnl {
    display: flex;
    flex-direction: column;
    width: 84%;
    margin: 1px 1px;
}


/* DashBoard's -> Dashboard styling */

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #e0e0e0;
    border-radius: 03px;
    width: 100%;
    overflow-y: scroll;
}

.title {
    display: flex;
    font-family: "Poppins", sans-serif;
    justify-content: space-between;
    padding: 0 0.51rem;
    margin-top: 2vw;
    margin-bottom: 1vw;
}

.title h3 {
    margin: 0.5vw;
    line-height: 2;
}

.alert-danger {
    color: #F45B69;
    font-size: 0.7rem;
    margin: 0px 20px;
}

.alert-success {
    color: #40c788;
    font-size: 0.7rem;
    margin: 0px 20px;
}

#branch_selection {
    width: 25%;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    justify-content: center;
    font-size: 1vw;
}

#branch_selection select {
    border: none;
    border-radius: 6px;
    padding: 0.5vw 0.2vw;
    background-color: #ffffff;
    font-size: 1.2vw;
}

#addBranch {
    border: none;
    margin: 0 1rem;
    font-size: 1.1vw;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    line-height: 2;
    border-radius: 07px;
    background-color: #ffbb00;
    color: #fff;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

#addBranch:hover {
    background-color: #d49e0a;
}

.stat {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1rem;
    /* border: 1px solid #000; */
    flex-wrap: wrap;
}

.totalRevenue,
.totalBranch,
.totalMenu,
.totalStaff {
    display: flex;
    flex-direction: row;
    font-family: "Poppins", sans-serif;
    width: 33%;
    margin-bottom: 0.7vw;
    border-radius: 10px;
    background-color: #fff;
    font-size: 1.2vw;
    padding: 0.5vw 0;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon i {
    font-size: 1.3rem;
    color: #ffbb00;
    margin: 0.5rem 1rem;
}

.disc {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.disc p,
.disc h3 {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.map {
    display: flex;
    flex-direction: column;
    height: 30vw;
    padding: 0 1rem;
    margin-bottom: 2vw;
    font-family: "Poppins", sans-serif;
}

.map iframe {
    display: flex;
    width: 98%;
    height: 75%;
    margin: 0 1rem;
    border-radius: 10px;
}

.graph {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 1vw 1vw;
    padding: 10px;
}

.monthlyRevenuegraph,
.totalRevenueGraph,
.dailyRevenueGraph {
    position: relative;
    width: 49%;
    background-color: #fff;
    border-radius: 10px;
}

.dailyRevenueGraph {
    width: 100%;
    margin-top: 1vw;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;
    align-items: center;
    text-align: center;
}

.info .ttle {
    font-size: 1.4vw;
    margin: 0 0 0 1vw;
    padding: 0;
    font-weight: bold;
}

.info .filter {
    font-size: 1vw;
    margin: 0 1vw 0 0;
    padding: 0;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
}

@media (max-width: 1050px) and (min-width: 600px) {
    .profilename {
        display: none;
    }
    .profile {
        justify-content: center;
        align-items: flex-start;
        width: auto;
    }
    .logo {
        width: 90%;
        height: 75px;
        margin: 01% 5%;
    }
    .logo img {
        width: 65%;
    }
    .menuList {
        padding-left: 1vw;
    }
    .menuIcon {
        display: none;
    }
    .menuItems i {
        display: none;
    }
    .menuItems p {
        font-size: 1.7vw;
    }
    .totalRevenue,
    .totalBranch,
    .totalMenu,
    .totalStaff {
        font-size: 1.6vw;
    }
}

@media (max-width: 600px) {
    header {
        display: none;
    }
    .container {
        flex-direction: column;
    }
    nav {
        flex-direction: row;
        height: 100px;
        width: 100vw;
        align-items: center;
        justify-content: space-between;
    }
    .menuList {
        display: flex;
        flex-direction: column;
        z-index: 100;
        position: relative;
    }
    #menuIcon {
        display: flex;
        font-size: 5vh;
        cursor: pointer;
        position: absolute;
        top: -2vh;
        right: 2vh;
    }
    .menu {
        display: none;
        background-color: #ffffff;
        position: absolute;
        width: 100vw;
        height: 70vh;
        top: 3vh;
        right: -2vh;
        padding-left: 2vh;
    }
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 75px;
        height: 95%;
        margin-left: 1vw;
    }
    .logo img {
        width: 60%;
    }
    .rgtpnl {
        flex-direction: row;
        width: 100vw;
    }
    .map {
        height: 45vh;
        margin-bottom: 2rem;
    }
    .map iframe {
        width: 100%;
        margin: auto;
    }
    .totalRevenue,
    .totalBranch,
    .totalMenu,
    .totalStaff {
        font-size: 1.6vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .graph {
        flex-direction: column;
    }
    .orderGraph,
    .revenueGraph {
        width: 95%;
        margin: auto;
        margin-bottom: 2vh;
        padding: 1vh;
    }
    .info .ttle {
        font-size: 1.4vh;
        margin: 0 0 0 1vh;
    }
    .info .filter {
        font-size: 1vh;
        margin: 0.5vh 1vh 0 0;
    }
    #addBranch {
        font-size: 1.8vh;
        font-weight: 500;
        margin-bottom: 1vh;
    }
}