main {
    display: flex;
    flex-direction: column;
    background-color: #e0e0e0;
    border-radius: 03px;
    width: 100%;
    overflow-y: scroll;
    font-family: "Poppins", sans-serif;
}

.alert {
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.2vw;
    padding: 10px;
}

.alert-success {
    background-color: rgb(30, 151, 83);
}

.alert-danger {
    background-color: #c65541;
}

#heading {
    display: block;
    text-align: center;
    margin: 0.51vw 0;
}

#options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 99%;
    justify-content: center;
    align-items: center;
}

#options button {
    display: flex;
    margin: 1.5vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 25%;
    height: 100px;
    border-radius: 10px;
    border: none;
    font-family: "Poppins", sans-serif;
    background-color: #ffbb00;
    color: #fff;
    letter-spacing: 1px;
    font-size: 1.2vw;
}

#options button:hover {
    background-color: #e3bc3b;
    color: #000;
}

#updateOwnerSettingOverlay,
#confirmDeletionOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
}

#updateOwnerSetting,
.confirmDeletion {
    display: none;
    flex-direction: column;
    background-color: #ffffff;
    position: absolute;
    border-radius: 10px;
    width: 30vw;
    align-items: center;
    height: 90vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

#updateOwnerSetting h3 {
    margin: 0;
    padding: 1vw 2vw;
    font-size: 1.5vw;
    width: 90%;
    text-align: center;
    font-family: "Poppins", sans-serif;
}

#updateOwnerSetting hr {
    border: 1px solid #9b9b9b;
    width: 98%;
    margin: 0 auto 1vw;
}

.inputdivs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    font-family: "Poppins", sans-serif;
    font-size: 1.2vw;
    padding: 1vw 1.5vw;
}

#logoDiv {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: auto;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-size: 1vw;
}

#imagePreview {
    display: flex;
    width: 125px;
    height: 125px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #000;
    background-color: #ebebeb;
}

#imagePreview img {
    display: flex;
    margin: auto;
    width: 95%;
    height: 95%;
    border-radius: 50%;
}

#addImg {
    display: flex;
    background-color: #fb0;
    color: #dadada;
    font-weight: bold;
    font-size: 1.4vw;
    padding: 5px 10px;
    margin: 0.71vw;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
}

#primaryColor,
#secondaryColor {
    width: 80%;
    margin: 0.31vw;
    padding: 5px;
    outline: 0.5px solid #9b9b9b;
    background-color: #e2e2e2;
    border: none;
    cursor: pointer;
}

#primaryColor::-webkit-color-swatch-wrapper,
#secondaryColor::-webkit-color-swatch-wrapper {
    padding: 0;
}

#primaryColor::-webkit-color-swatch,
#secondaryColor::-webkit-color-swatch-wrapper {
    border: none;
}

#primaryColor::-moz-color-swatch,
#secondaryColor::-webkit-color-swatch-wrapper {
    border: none;
}

#form_btns {
    display: flex;
    flex-direction: row;
    height: 10%;
    margin: 1vw;
    justify-content: center;
    align-items: center;
}

#form_btns #form_btns-update,
#form_btns #form_btns-close {
    display: flex;
    width: 100%;
    height: 75%;
    margin: 0 1vw;
    padding: 0.8vw 1.5vw;
}

#confirmDeletionOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
}

.confirmDeletion {
    display: none;
    flex-direction: column;
    background-color: #dadada;
    position: absolute;
    border-radius: 10px;
    width: 30vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}